In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
arquivo_leitura = pd.read_csv("C:/Users/Pedro Santos/OneDrive - SKA AUTOMACAO DE ENGENHARIAS LTDA/Área de Trabalho/TesteGIT/DataEcommerce.csv", encoding='ISO-8859-1')

In [ ]:
arquivo_leitura.head()

In [ ]:
arquivo_leitura.isna().sum()

In [ ]:
moda = arquivo_leitura['CustomerID'].value_counts().index[0]

In [ ]:
print(moda)

In [ ]:
teste = arquivo_leitura [arquivo_leitura['StockCode']== '85123A']

In [ ]:
teste

In [ ]:
teste2 = arquivo_leitura [arquivo_leitura['StockCode']== '71053']

In [ ]:
teste2

In [3]:
df_limpo = arquivo_leitura.dropna(subset=['Description'])  #Limpando dados em branco na coluna description

In [ ]:
arquivo_leitura.isna().sum()

In [4]:
df_limpo.isna().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

In [ ]:
identificar_null = df_limpo[df_limpo['CustomerID'].isnull()]

In [ ]:
identificar_null

In [ ]:
paises_diferentes = identificar_null [identificar_null['Country'] != 'United Kingdom']

In [ ]:
paises_diferentes

In [5]:
df_limpo = df_limpo.dropna(subset=['CustomerID'])

In [6]:
df_limpo.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [ ]:
df_limpo.describe()

In [ ]:
valormin = df_limpo [df_limpo['Quantity']== -80995.000000]

In [ ]:
valormin

In [ ]:
valoresabaixode0 = df_limpo [df_limpo['Quantity'] < 0]

In [ ]:
valoresabaixode0

In [7]:
#identifiquei que há valores negativos no dataframe, que são devoluções (na aba quantidade), então trabalharei com dois df.

df_vendas = df_limpo[df_limpo['Quantity'] > 0]
df_devolucoes = df_limpo[df_limpo['Quantity'] < 0]

In [8]:
df_vendas.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [18]:
#identificar putliers em UnitPrice no df_vendas
#utilizando método IQR # Calculando Q1, Q3 e IQR
# Q1 = df['coluna'].quantile(0.25)
# Q3 = df['coluna'].quantile(0.75)
# IQR = Q3 - Q1


Q1 = df_vendas['UnitPrice'].quantile(0.25)
Q3 = df_vendas['UnitPrice'].quantile(0.75)
IQR = Q3 - Q1

# Definindo limites inferior e superior
limite_inferior = Q1 - 1.5 * IQR
limite_superior = Q3 + 1.5 * IQR

# Filtrando outliers
df_parcial_vendas = df_vendas[(df_vendas['UnitPrice'] > limite_inferior) & (df_vendas['UnitPrice'] < limite_superior)]

In [19]:
df_parcial_vendas.describe()

            Quantity      UnitPrice     CustomerID
count  362980.000000  362980.000000  362980.000000
mean       13.977988       2.125971   15308.312957
std       188.859668       1.520801    1712.520144
min         1.000000       0.000000   12346.000000
25%         2.000000       0.850000   13975.000000
50%         6.000000       1.650000   15194.000000
75%        12.000000       2.950000   16809.000000
max     80995.000000       7.460000   18287.000000

In [29]:
#parei exatamente aqui 21/08: 16h50

#identificar outliers em Quantity
#via std
#confirmando o describe acima:

media = df_parcial_vendas['Quantity'].mean()
desvio_padrao = df_parcial_vendas['Quantity'].std()

#limites
limite_inf = (media - 3) * desvio_padrao
limite_sup = (media + 3) * desvio_padrao

# Filtrando outliers
df_final_vendas = df_vendas[(df_vendas['Quantity'] > limite_inf) & (df_vendas['Quantity'] < limite_sup)]

In [27]:
limite_inf

2073.299123877864

In [28]:
limite_sup

3206.4571311784057

In [17]:
#moda = df_final['Quantity'].value_counts().index[0]

In [ ]:
#print(moda)

In [ ]:
#df_final.info()

In [11]:
# Certificando a coluna 'InvoiceDate' esteja no formato datetime
df_final = df_final.copy()
df_final['InvoiceDate'] = pd.to_datetime(df_final['InvoiceDate'])

In [12]:
#Criar uma coluna de data sem horas:
df_final['Data'] = df_final['InvoiceDate'].dt.date

In [ ]:
#verificando se há outliers
teste2 = df_final[df_final['Quantity'] > 60000]
print(teste2)

In [ ]:
#identifiquei que a coluna Quantidade possui outliers (85900)
#Peguei 4 dias após as vendas da primeira data, somei e fiz a média 
#Peguei os 4 dias anteriores, somei a quantidade e fiz a media


if df_final['Data'].dtype != 'datetime64[ns]':
    df_final['Data'] = pd.to_datetime(vendas_diarias['Data'])

# Strings de datas
data_jan = '2011-01-18'
data_dez = '2011-12-11'

# Converter as strings para datetime
data_jan = pd.to_datetime(data_jan)
data_dez = pd.to_datetime(data_dez)

#max: 33094
#min: 10267

# Filtrar o DataFrame
verificar_out = df_final[(df_final['Data'] >= data_jan) & (df_final['Data'] <= data_dez)]

# Exibir o resultado
print(verificar_out)

In [ ]:
#Analisando quantas vendas são realizadas por dia
vendas_diarias = df_final.groupby('Data')['Quantity'].sum().reset_index()

In [ ]:
#alterar outliers de quantidade:

df_final.loc[df_final['InvoiceDate'] == '2011-01-18 10:01:00', 'Quantity'] = 10267  # Alterar para 10267
df_final.loc[df_final['InvoiceDate'] == '2011-12-09 09:15:00', 'Quantity'] = 33094  # Alterar para 20

In [ ]:
teste2 = df_final[df_final['Quantity'] > 60000]
print(teste2)

In [ ]:
df_final.head()

In [ ]:
teste_out = df_final[(df_final['InvoiceDate']== '2011-12-09 09:15:00')]

In [ ]:
teste_out

In [ ]:
# Plotar as vendas diárias
plt.figure(figsize=(12,6))
sns.lineplot(data=vendas_diarias, x='Data', y='Quantity')
plt.title('Vendas Diárias')
plt.show()