In [1]:
import pandas as pd

In [2]:
arquivo_leitura = pd.read_csv("C:/Users/Pedro Santos/OneDrive - SKA AUTOMACAO DE ENGENHARIAS LTDA/√Årea de Trabalho/TesteGIT/DataEcommerce.csv", encoding='ISO-8859-1')

In [3]:
arquivo_leitura.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
arquivo_leitura.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [5]:
moda = arquivo_leitura['CustomerID'].value_counts().index[0]

In [6]:
print(moda)

17841.0

In [7]:
teste = arquivo_leitura [arquivo_leitura['StockCode']== '85123A']

In [8]:
teste

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
49,536373,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:02,2.55,17850.0,United Kingdom
66,536375,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 9:32,2.55,17850.0,United Kingdom
220,536390,85123A,WHITE HANGING HEART T-LIGHT HOLDER,64,12/1/2010 10:19,2.55,17511.0,United Kingdom
262,536394,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/1/2010 10:39,2.55,13408.0,United Kingdom
...,...,...,...,...,...,...,...,...
539342,581439,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/8/2011 16:30,5.79,NaN,United Kingdom
539979,581452,85123A,WHITE HANGING HEART T-LIGHT HOLDER,32,12/8/2011 18:03,2.55,17675.0,United Kingdom
540217,581472,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/8/2011 19:55,2.95,15796.0,United Kingdom
540837,581492,85123A,CREAM HANGING HEART T-LIGHT HOLDER,3,12/9/2011 10:03,5.79,NaN,United Kingdom
541639,581538,85123A,CREAM HANGING HEART T-LIGHT HOLDER,1,12/9/2011 11:34,2.95,14446.0,United Kingdom

In [9]:
teste2 = arquivo_leitura [arquivo_leitura['StockCode']== '71053']

In [10]:
teste2

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
50,536373,71053,WHITE METAL LANTERN,6,12/1/2010 9:02,3.39,17850.0,United Kingdom
67,536375,71053,WHITE METAL LANTERN,6,12/1/2010 9:32,3.39,17850.0,United Kingdom
279,536396,71053,WHITE METAL LANTERN,6,12/1/2010 10:51,3.39,17850.0,United Kingdom
417,536406,71053,WHITE METAL LANTERN,8,12/1/2010 11:33,3.39,17850.0,United Kingdom
...,...,...,...,...,...,...,...,...
534544,581149,71053,WHITE MOROCCAN METAL LANTERN,1,12/7/2011 14:12,3.75,15471.0,United Kingdom
534545,581149,71053,WHITE MOROCCAN METAL LANTERN,1,12/7/2011 14:12,3.75,15471.0,United Kingdom
536736,581219,71053,WHITE MOROCCAN METAL LANTERN,1,12/8/2011 9:28,8.29,NaN,United Kingdom
539298,581439,71053,WHITE MOROCCAN METAL LANTERN,1,12/8/2011 16:30,8.29,NaN,United Kingdom
541511,581498,71053,WHITE MOROCCAN METAL LANTERN,1,12/9/2011 10:26,8.29,NaN,United Kingdom

In [11]:
df_limpo = arquivo_leitura.dropna(subset=['Description'])  #Limpando dados em branco na coluna description

In [12]:
arquivo_leitura.isna().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [13]:
df_limpo.isna().sum()

InvoiceNo           0
StockCode           0
Description         0
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     133626
Country             0
dtype: int64

In [14]:
identificar_null = df_limpo[df_limpo['CustomerID'].isnull()]

In [15]:
identificar_null

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
1443,536544,21773,DECORATIVE ROSE BATHROOM BOTTLE,1,12/1/2010 14:32,2.51,NaN,United Kingdom
1444,536544,21774,DECORATIVE CATS BATHROOM BOTTLE,2,12/1/2010 14:32,2.51,NaN,United Kingdom
1445,536544,21786,POLKADOT RAIN HAT,4,12/1/2010 14:32,0.85,NaN,United Kingdom
1446,536544,21787,RAIN PONCHO RETROSPOT,2,12/1/2010 14:32,1.66,NaN,United Kingdom
1447,536544,21790,VINTAGE SNAP CARDS,9,12/1/2010 14:32,1.66,NaN,United Kingdom
...,...,...,...,...,...,...,...,...
541536,581498,85099B,JUMBO BAG RED RETROSPOT,5,12/9/2011 10:26,4.13,NaN,United Kingdom
541537,581498,85099C,JUMBO BAG BAROQUE BLACK WHITE,4,12/9/2011 10:26,4.13,NaN,United Kingdom
541538,581498,85150,LADIES & GENTLEMEN METAL SIGN,1,12/9/2011 10:26,4.96,NaN,United Kingdom
541539,581498,85174,S/4 CACTI CANDLES,1,12/9/2011 10:26,10.79,NaN,United Kingdom
541540,581498,DOT,DOTCOM POSTAGE,1,12/9/2011 10:26,1714.17,NaN,United Kingdom

In [16]:
paises_diferentes = identificar_null [identificar_null['Country'] != 'United Kingdom']

In [17]:
paises_diferentes

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
6353,536885,21832,CHOCOLATE CALCULATOR,24,12/3/2010 11:42,1.65,NaN,EIRE
6354,536885,21523,DOORMAT FANCY FONT HOME SWEET HOME,10,12/3/2010 11:42,6.75,NaN,EIRE
6355,536885,48184,DOORMAT ENGLISH ROSE,10,12/3/2010 11:42,6.75,NaN,EIRE
6356,536885,22837,HOT WATER BOTTLE BABUSHKA,24,12/3/2010 11:42,4.65,NaN,EIRE
6357,536885,22632,HAND WARMER RED RETROSPOT,12,12/3/2010 11:42,2.10,NaN,EIRE
...,...,...,...,...,...,...,...,...
518850,580124,23212,HEART WREATH DECORATION WITH BELL,12,12/1/2011 17:12,1.25,NaN,EIRE
518851,580124,23311,VINTAGE CHRISTMAS STOCKING,6,12/1/2011 17:12,2.55,NaN,EIRE
518852,580124,23312,VINTAGE CHRISTMAS GIFT SACK,8,12/1/2011 17:12,4.15,NaN,EIRE
518853,580124,22834,HAND WARMER BABUSHKA DESIGN,24,12/1/2011 17:12,2.10,NaN,EIRE
518854,580124,C2,CARRIAGE,1,12/1/2011 17:12,50.00,NaN,EIRE

In [18]:
df_limpo = df_limpo.dropna(subset=['CustomerID'])

In [19]:
df_limpo.isna().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [20]:
df_limpo.describe()

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

In [21]:
valormin = df_limpo [df_limpo['Quantity']== -80995.000000]

In [22]:
valormin

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
540422,C581484,23843,"PAPER CRAFT , LITTLE BIRDIE",-80995,12/9/2011 9:27,2.08,16446.0,United Kingdom

In [23]:
valoresabaixode0 = df_limpo [df_limpo['Quantity'] < 0]

In [24]:
valoresabaixode0

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
141,C536379,D,Discount,-1,12/1/2010 9:41,27.50,14527.0,United Kingdom
154,C536383,35004C,SET OF 3 COLOURED FLYING DUCKS,-1,12/1/2010 9:49,4.65,15311.0,United Kingdom
235,C536391,22556,PLASTERS IN TIN CIRCUS PARADE,-12,12/1/2010 10:24,1.65,17548.0,United Kingdom
236,C536391,21984,PACK OF 12 PINK PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
237,C536391,21983,PACK OF 12 BLUE PAISLEY TISSUES,-24,12/1/2010 10:24,0.29,17548.0,United Kingdom
...,...,...,...,...,...,...,...,...
540449,C581490,23144,ZINC T-LIGHT HOLDER STARS SMALL,-11,12/9/2011 9:57,0.83,14397.0,United Kingdom
541541,C581499,M,Manual,-1,12/9/2011 10:28,224.69,15498.0,United Kingdom
541715,C581568,21258,VICTORIAN SEWING BOX LARGE,-5,12/9/2011 11:57,10.95,15311.0,United Kingdom
541716,C581569,84978,HANGING HEART JAR T-LIGHT HOLDER,-1,12/9/2011 11:58,1.25,17315.0,United Kingdom
541717,C581569,20979,36 PENCILS TUBE RED RETROSPOT,-5,12/9/2011 11:58,1.25,17315.0,United Kingdom

In [26]:
#identifiquei que h√° valores negativos no dataframe, que s√£o devolu√ß√µes (na aba quantidade), ent√£o trabalharei com dois df.

df_vendas = df_limpo[df_limpo['Quantity'] > 0]
df_devolucoes = df_limpo[df_limpo['Quantity'] < 0]

In [ ]:
#utilizando m√©todo IQR # Calculando Q1, Q3 e IQR
# Q1 = df['coluna'].quantile(0.25)
# Q3 = df['coluna'].quantile(0.75)
# IQR = Q3 - Q1